@import url('https://fonts.googleapis.com/css?family=Dosis:700');
			body {
				background-color: #FAFAFA;
			}
			#input, #suggestion {
				font-family: 'Dosis', sans-serif;
				font-size: 20px;
				letter-spacing: 2px;
				font-weight: bold;
			}

			#input:focus {
				outline: none;
			}

			#input {
				background: transparent;
				border: solid 1px transparent;
				border-radius: 50px;
				 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
				width: 700px;
				padding: 10px 20px;
				z-index: 9999;
			}

			#container {
				position: absolute;
				left: 25vw;
				top: 40vh;
			}

			#suggestion {
				position: absolute;
				top: 11px;
				left: 21px;
				z-index: -999;
				color: #BCC3C8;
			}